<div id="history-commands-list">
    {{ range $item := .items }}
    <div class="box">
        <div style="float: right">
            {{ if $item.Active }}
            <input class="button is-success" type="submit" data-action="history-item-raw/{id}/disconnect" data-action-params="{{ $item.Command.ID }}" data-action-payload="{{ $item.Command.Raw }}" value="Disconnect" />
            {{ else }}
            <input class="button is-light" type="submit" data-action="history-item-raw/{id}/connect" data-action-params="{{ $item.Command.ID }}" data-action-payload="{{ $item.Command.Raw }}" value="Connect" />
            {{ end }}
        </div>
        <span class="tag is-info is-light">{{ $item.Command.ProjectID }}</span>
    {{ $item.Command.Pod }}
    {{ $item.Command.SqlInstance }}
        <div class="content is-small">{{ $item.Command.Raw }}</div>
    </div>
    {{ end }}
</div>
