<div id="history-commands-list">
    {{ range $item := .items }}
    <div class="box">
        <div style="float: right">
            {{ if $item.Active }}
            <input class="button is-success" type="submit" data-action="history-item-raw/{id}/disconnect" data-action-params="{{ $item.Command.ID }}" data-action-payload="{{ $item.Command.Raw }}" value="Disconnect" />
            {{ else }}
                
                    <button class="button is-light" {{ if $item.ConnectDisabled }}disabled{{ end }} type="submit" data-action="history-item-raw/{id}/connect" data-action-params="{{ $item.Command.ID }}" data-action-payload="{{ $item.Command.Raw }}" value="Connect">
                        {{ if $item.ConnectWarningMessage }}
                            Connect <span title="{{ $item.ConnectWarningMessage }}">⚠️</span>
                        {{ else }}
                            Connect
                        {{ end }}
                    </button>
            {{ end }}
        </div>
    
    <span class="tag is-info is-light" title="{{ $item.ProjectTitle }}">{{ $item.ProjectDisplayName }}</span>
    <span class="tag is-light">{{ $item.PortNumber }}</span>
    {{ $item.Command.Pod }}
    {{ $item.Command.SqlInstance }}
        <div class="content is-small">{{ $item.Command.Raw }}</div>
    </div>
    {{ end }}
</div>
